
	<div class="card card-content">
	 	<img src="https://placeimg.com/380/230/nature" class="card-img-top card-img" alt="...">
	 	<div class="card-body card-desc">
	 		<h5 class="card-title">{{destino.nombre}}</h5>
	 		<p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis.</p>
	 		<a href="#" class="btn-card">Read</a>
	 	</div>
	</div>

